.background {
  background-color: rgba(255, 255, 255, 0.958);
}

.title {
  text-align: center;
}

.card{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.square{
  background-color: rgba(255, 255, 255, 0.96);
  width: 45vw;
  height: 85vh;
  margin-left: 3rem;
  border-radius: 2rem;
}

.imagem{
  display: flex;
  height: 20rem;
  width: 35rem;
  border-radius: 2rem;
}